
.layout-transparent {
  background: url('../images/oldbooks.jpg') center / cover;
}

.layout-transparent .mdl-layout__header,

.layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.table-container {
    max-width: 1200px;
}

.papyri-table {
    min-width: 100%;
}