
.layout-transparent {
  background: url('../images/oldbooks.jpg') center / cover;
}

.layout-transparent .mdl-layout__header,

.layout-transparent .mdl-layout__drawer-button {
    /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: white;
}

.table-container {
    max-width: 1200px;
}

.content-wrap {
    margin: 25px auto;
    width: 90%;
    table-layout: fixed;
}

.scroll-content {
    white-space: normal;
    word-wrap: break-word;
    padding-bottom: 10px; /*Not working..*/
}

.icon-td {
    width: 60px;
}

.center-floating-content {
    margin: 10% auto;
}

.about-card.mdl-card {
    width: 512px;
}

.about-card > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../images/book-and-rose.jpg') center / cover;
}

.about-card > .mdl-card__menu {
    color: #fff;
}

.new-scroll-form-card > .mdl-card__title {
    color: rgba(0, 0, 0, .87);
    background: url("../images/papyrus.jpg");
}

.fixed-bottom-fab {
    position: fixed;
    bottom: 25px;
    right: 25px;
    z-index: 1;
}
